<?xml version="1.0"?>
<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find pepper_dcm_controllers)/config/pepper_position_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="nao_controller" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="
      /nao_dcm/HeadYaw_position_controller /nao_dcm/HeadPitch_position_controller 
      /nao_dcm/LShoulderPitch_position_controller /nao_dcm/LElbowYaw_position_controller /nao_dcm/LWristYaw_position_controller 
      /nao_dcm/LShoulderRoll_position_controller /nao_dcm/LElbowRoll_position_controller /nao_dcm/RShoulderPitch_position_controller /nao_dcm/RElbowYaw_position_controller /nao_dcm/RWristYaw_position_controller /nao_dcm/RShoulderRoll_position_controller /nao_dcm/RElbowRoll_position_controller 
      /nao_dcm/HipRoll_position_controller /nao_dcm/HipPitch_position_controller /nao_dcm/KneePitch_position_controller /nao_dcm/KneePitch_position_controller 
      /nao_dcm/WheelB_position_controller /nao_dcm/WheelFL_position_controller /nao_dcm/WheelFR_position_controller
      /nao_dcm/LHand_position_controller /nao_dcm/RHand_position_controller 
      /nao_dcm/joint_state_controller"/>

  <!-- <node name="nao_controller" pkg="controller_manager" type="spawner" respawn="false"
      output="screen" ns="/nao_dcm" args="" -->
  
  <!-- convert joint states to TF transforms for rviz, etc -->
  <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/nao_dcm/joint_states" /> 
  </node> -->

</launch>
